@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap'); /*OJO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');/*Letra del titulo*/ 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); /*letra del body*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap'); /*letra de sucursales (direcciones)*/

body {
    padding: 0px;
    margin: 0px;
    background-color: #F1EFEF;
}

main {
    text-align: center;
}

header {
    background-color: black; /* Color de fondo de la cabecera */
    color: black; /* Color del texto en la cabecera */
    padding: 30px; /* Espacio interno en la cabecera para separar el contenido */
    text-align: center; /* Alineación del texto en el centro */  
}

header h5 {
    color: white;
    padding-top: 20px;
}

#subtitulo {
    margin: 20px;
    font-style: italic;
}

h1 {
    font-family: 'Roboto Slab', serif;
    background-color: #ff9900; /* Color de fondo del h1 */
    border-radius: 10px; /* Radio del borde para hacerlo redondeado */
    padding: 16px 30px; /* Espaciado interno para separar el texto del borde */
    display: inline-block; /* Hace que el h1 se ajuste automáticamente al contenido */
    margin-bottom: 0px;
}

.sucursales {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.sucursales h6 {
    color: black;
    padding-bottom: 10px;
    font-family: 'Dancing Script', cursive;;
}

.imagen-container {
    margin-bottom: 10px; /* Espacio entre la imagen y el botón */
    border: 2px solid black;
}

img {
    max-width: 100%; /* Para que las imágenes no se desborden */
    height: 580px; /* Mantener la proporción de aspecto de las imágenes */
    width: 480px; /* Ancho fijo para todas las imágenes */
    padding: 5px;
}

button {
    background-color: #183D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #93B1A6;
}

footer {
    background-color: black; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interior */
    text-align: center; /* Alineación del texto */
    border-top: 50px solid #333; /* Borde superior */
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* Sombra debajo */
}

footer ul {
    padding-left: 4px;
}

footer li {
    list-style-type: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}


